In [1]:
#Ce projet vise à mettre en place un modèle de données pour prédire si une demande de pret sera soldée ou pas
#On commence par importer les bibliothèques necessaires
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
# Nous chargons par la suite la base de données
db_pret = pd.read_csv("credit.csv")
db_pret["default"].fillna(value=db_pret["default"].mode(), inplace=True)
db_pret

      age  ed  employ  address  income  debtinc   creddebt   othdebt  default
0      41   3      17       12     176      9.3  11.359392  5.008608        1
1      27   1      10        6      31     17.3   1.362202  4.000798        0
2      40   1      15       14      55      5.5   0.856075  2.168925        0
3      41   1      15       14     120      2.9   2.658720  0.821280        0
4      24   2       2        0      28     17.3   1.787436  3.056564        1
...   ...  ..     ...      ...     ...      ...        ...       ...      ...
1145   34   1      12       15      32      2.7   0.239328  0.624672        0
1146   32   2      12       11     116      5.7   4.026708  2.585292        0
1147   48   1      13       11      38     10.8   0.722304  3.381696        1
1148   35   2       1       11      24      7.8   0.417456  1.454544        0
1149   37   1      20       13      41     12.9   0.899130  4.389870        1

[1150 rows x 9 columns]

In [3]:
# Séparation des données
X = db_pret.drop("default", axis=1) # toutes les colonnes sauf la dernière (default)
y = db_pret["default"] # dernière colonne

In [4]:
# Création de l'ensemble d'entraînement et de l'ensemble de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [5]:
db_pret

      age  ed  employ  address  income  debtinc   creddebt   othdebt  default
0      41   3      17       12     176      9.3  11.359392  5.008608        1
1      27   1      10        6      31     17.3   1.362202  4.000798        0
2      40   1      15       14      55      5.5   0.856075  2.168925        0
3      41   1      15       14     120      2.9   2.658720  0.821280        0
4      24   2       2        0      28     17.3   1.787436  3.056564        1
...   ...  ..     ...      ...     ...      ...        ...       ...      ...
1145   34   1      12       15      32      2.7   0.239328  0.624672        0
1146   32   2      12       11     116      5.7   4.026708  2.585292        0
1147   48   1      13       11      38     10.8   0.722304  3.381696        1
1148   35   2       1       11      24      7.8   0.417456  1.454544        0
1149   37   1      20       13      41     12.9   0.899130  4.389870        1

[1150 rows x 9 columns]

In [6]:
# Mise en place du modèle de régression logistique sur les données d'entraînement
clf = LogisticRegression()
clf.fit(X_train, y_train)

LogisticRegression()

In [7]:
# Faire des prédictions sur les données de test
y_pred = clf.predict(X_test)

In [8]:
# Déterminons la précision du modèle
acc = accuracy_score(y_test, y_pred)
print("Précision : ", acc)

Précision :  0.7565217391304347

In [9]:
# Utilisons le modèle pour prédire si un nouveau prêt peut être remboursé ou non
nouveau_pret = [[41,3,17,15,176,10.3,12.359392,5.00860]] # données d'un nouveau prêt
statut_nouveau_pret = clf.predict(nouveau_pret)
print("Statut du nouveau prêt : ", statut_nouveau_pret)

Statut du nouveau prêt :  [1]

In [10]:
if statut_nouveau_pret == 1:
    print("Le client ne pourra pas remborser ce prêt")
else:
    print("Le client pourra remborser ce prêt")

Le client ne pourra pas remborser ce prêt